@model ShowRoomModelo.model.cadastros.ShowRoom
@using ShowRoom.App_Helpers.Componentes

@{
    ViewBag.Title = "Cadastro de ShowRoom";
    ViewBag.SubTitle = "Cadastro de ShowRoom";
    ViewBag.LinkText = "Consultar";
    ViewBag.ActionName = "Consultar";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <section class="col col-sm-12 col-md-3 col-lg-3">
            @Html.LabelFor(model => model.cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxPadraoFor(model => model.cnpj, new { @onkeypress = "mascaraCC(this,CC)", @maxlength = "18" })
                @Html.ValidationMessageFor(model => model.cnpj, "", new { @class = "text-danger" })
            </div>
        </section>

        <div class="row" >

            <section class="col col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.razao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextBoxPadraoFor(model => model.razao, new { @maxlength = "60" })
                    @Html.ValidationMessageFor(model => model.razao, "", new { @class = "text-danger" })
                </div>
            </section>

            <section class="col col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.fantasia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextBoxPadraoFor(model => model.fantasia, new { @maxlength = "60" })
                    @Html.ValidationMessageFor(model => model.fantasia, "", new { @class = "text-danger" })
                </div>
            </section>

            <section class="col col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxPadraoFor(model => model.email, new { @maxlength = "60" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </section>

            <section class="col col-sm-12 col-md-2 col-lg-2">
                @Html.LabelFor(model => model.fone1, htmlAttributes: new { @class = "control-label col-md-2" })
                <label class="input">
                    @Html.TextBoxPadraoFor(model => model.fone1, new { @onkeypress = "mascaraFONE(this,FONE)", @maxlength = "15" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </label>
            </section>

            <section class="col col-sm-12 col-md-2 col-lg-2">
                @Html.LabelFor(model => model.fone2)
                <label class="input">
                    @Html.TextBoxPadraoFor(model => model.fone2, new { @onkeypress = "mascaraFONE(this,FONE)", @maxlength = "15" })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </label>
            </section>

            <section class="col col-sm-12 col-md-6 col-lg-6">
                @Html.LabelFor(model => model.contato, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxPadraoFor(model => model.contato, new { @maxlength = "60" })
                    @Html.ValidationMessageFor(model => model.contato, "", new { @class = "text-danger" })
                </div>
            </section>

            <div class="row">

                <section class="col col-sm-12 col-md-8 col-lg-10">
                    @Html.LabelFor(model => model.endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxPadraoFor(model => model.endereco)
                        @Html.ValidationMessageFor(model => model.endereco, "", new { @class = "text-danger" })
                    </div>
                </section>


                <!--  <section class="col col-sm-12 col-md-12 col-lg-12">
              <h4 class="subtitulo-form">Endereço Completo</h4>
          </section> -->

                <section class="col col-sm-12 col-md-4 col-lg-2">
                    @Html.LabelFor(model => model.numero, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextBoxPadraoFor(model => model.numero)
                        @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                    </div>
                </section>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @{ /* Scripts.Render("~/bundles/jqueryval") */ }
}
