@model ShowRoom.Models.VisualizarAgendaViewModel
@using ShowRoom.App_Helpers.Componentes

@{
    ViewBag.Title = "Visualizar agenda";
    Layout = "~/Views/Shared/_LayoutAgenda.cshtml";
}

@section css{ 
   <link rel="stylesheet" href="~/Scripts/assets/plugins/fullcalendar/fullcalendar.min.css">

}

<main class="main-content p-5" role="main">
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn btn-dark waves-effect waves-light" href="/cliente/consultar">Filtrar</a>   
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn btn-dark waves-effect waves-light" href="/cliente/consultar">Consultar</a>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-lg-12">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Html.Partial("Modal/_EditarAgenda") -->

<!-- END MAIN CONTENT -->
@section Scripts {
    <!-- PAGE RELATED PLUGIN(S) -->
    
    <!--  <script type='text/javascript' src="~/scripts/assets/plugins/fullcalendar/locale/pt-br.js"></script> -->
    
    
    <script type='text/javascript' src="~/scripts/assets/plugins/moment/moment.min.js"></script>
    <script type='text/javascript' src="~/scripts/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/scripts/assets/js/jquery/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
<!--     <script type="text/javascript" src="~/Scripts/assets/js/scripts.js"></script>-->
    
    

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        function dropdown(val) {
            var y = document.getElementsByClassName('btn btn-default dropdown-toggle');
            y[0].innerHTML = val + ' <span class="caret"></span>'; // Append
        }

        $(document).ready(function () {

            "use strict";

            $('#Grupos').on("select2:select", function (e) {
                console.log($('#Grupos').select2('data')[0].text);
                $('#filtro_nm_grupo').val($('#Grupos').select2('data')[0].text); // what you would like to happen
            });

            $('#Clientes').on("select2:select", function (e) {
                console.log($('#Clientes').select2('data')[0].text);
                $('#filtro_nm_cliente').val($('#Clientes').select2('data')[0].text); // what you would like to happen
            });

            $('#Colaboradores').on("select2:select", function (e) {
                console.log($('#Colaboradores').select2('data')[0].text);
                $('#filtro_nm_colaborador').val($('#Colaboradores').select2('data')[0].text); // what you would like to happen
            });

            $('#Servicos').on("select2:select", function (e) {
                console.log($('#Servicos').select2('data')[0].text);
                $('#filtro_nm_servico').val($('#Servicos').select2('data')[0].text); // what you would like to happen
            });

            var Url = '@Url.Action("GetServicosGrupo", "ServicoGrupo")';
            $("#Grupos").select2({
                placeholder: "Selecione um agrupamento",
                minimumInputLength: 0,
                language: "pt-BR",
                allowClear: true,
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

            var Url = '@Url.Action("GetServicosSimples", "Servico")';
            $("#Servicos").select2({
                placeholder: "Selecione um serviço",
                minimumInputLength: 0,
                language: "pt-BR",
                allowClear: true,
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

            var Url = '@Url.Action("GetClientes", "Cadastros")';
            $("#Clientes").select2({
                placeholder: "Selecione um cliente",
                minimumInputLength: 0,
                language: "pt-BR",
                allowClear: true,
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

            var Url = '@Url.Action("GetColaboradores", "Cadastros")';
            $("#Colaboradores").select2({
                placeholder: "Selecione um colaborador",
                minimumInputLength: 0,
                allowClear: true,
                language: "pt-BR",
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

            var hdr = {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            };

            var Url = '@Url.Action("ListarAgenda", "Agenda")';
            $('#calendar').fullCalendar({
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                         

                events: //método responsável por listar os eventos
                {
                    url: Url,
                    type: 'POST',
                    data: {
                        id_cliente: $("#Clientes").val(),
                        id_colaborador: $("#Colaboradores").val(),
                        id_servico: $("#Servicos").val(),
                        id_grupo: $("#Grupos").val(),
                        tp_calendario: $("#tp_calendario").val()
                    },
                    success: function (Totais) {
                        if (Totais.length > 0) {
                            $('#at').html(Totais[0].Totais[0]);
                            $('#agen').html(Totais[0].Totais[1]);
                            $('#ac').html(Totais[0].Totais[2]);
                            $('#ad').html(Totais[0].Totais[3]);
                            $('#af').html(Totais[0].Totais[4]);
                        }

                        
                    }
                }, 
              //  hiddenDays: [0, 6], // sabado, domingo não aparece

                //ignoreTimezone: false,
                
                axisFormat: 'H:mm',
                timeFormat: {
                    '': 'H:mm',
                    agenda: 'H:mm',
                    basic: 'H:mm',
                    month: 'H:mm',
                    day: 'H:mm'
                },
                columnFormat: 'ddd D/M',
                //
                header: hdr,
                buttonText: {
                    prev: 'Anterior',
                    next: 'Próximo',
                    today: 'Hoje',
                    month: 'Mês',
                    agendaWeek: 'Semana',
                    agendaDay: 'Dia'
                    
                },
                themeSystem: 'bootstrap3',
                allDaySlot: false,
                displayEventEnd: false,
                //
                allDayText: 'Dia',
                slotDuration: '00:30:00',
                minTime: '07:00:00',
                maxTime: '23:00:00',
                defaultView: 'agendaWeek',
                contentHeight: 'auto',

                eventOverlap: false,

                editable: false,
                droppable: false,

                eventRender: function (event, element, icon) {

                    //  $('.fc-event-time').hide();
                    if (!event.description == "") {
                        element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description +
                            "</span>");

                    }
                    if (!event.icon == "") {
                        element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon +
                            " '></i>");
                    }
                },
                eventClick: function (calEvent) {
                    $("#id-agenda").val(calEvent.id);

                    $("#Colaboradores2").empty().append('<option value=' + calEvent.id_colaborador + '>' + calEvent.nm_colaborador + '</option>');
                    $("#Servicos2").empty().append('<option value="' + calEvent.id_servico + '">' + calEvent.nm_servico + '</option>');
                    $("#Clientes2").empty().append('<option value="' + calEvent.id_cliente + '">' + calEvent.nm_cliente + '</option>');

                    $("#sessao").val(calEvent.sessao_atual);
                    $("#is_secao").val(calEvent.tp_status);
                    $("#vl_servico2").val(calEvent.vl_servico);
                    $("#dt_agenda2").val(calEvent.dt_agenda);
                    $("#hr_agenda2").val(calEvent.hr_agenda);

                    $("#link_cadastro").attr("href", "http://clinica.nextcodeapp.com.br/cadastros/editarcliente/" + calEvent.id_cliente);


                    $.ajax({
                        url: 'Url.Action("GetSessaoAtual", "Agenda")',
                        method: 'POST',
                        dataType: 'json',
                        data: { id: calEvent.id_cliente }
                    }).done(function (results) {
                        $("#sessao_atual").val(Number(results));
                    });

                    $.ajax({
                        url: 'Url.Action("GetSessaoFaltante", "Agenda")',
                        method: 'POST',
                        dataType: 'json',
                        data: { id: calEvent.id_cliente }
                    }).done(function (results) {
                        $("#sessao_faltante").val(Number(results));
                    });

                    $('.modal-editar-evento').modal('show');
                },

                loading: function (isLoading, view) {
                    if (isLoading) { // isLoading gives boolean value
                        // alert('events are being rendered'); // Add your script to show loading //show your loader here
                        $('#loading').show();
                    } else {
                        //  alert('all events are rendered'); //hide your loader here
                        $('#loading').hide();
                    }
                },

                windowResize: function (event, ui) {
                    $('#calendar').fullCalendar('render');
                }
            });  

           /*
            var slatHeight = $("#calendar").find('.fc-slats').height();
            var height = $('#calendar').find('.fc-time-grid-container').height();
            if (slatHeight < height) {
                $('#calendar').find('.fc-time-grid-container').css('max-height', slatHeight + 'px');
            }
            hide default buttons
           */


          /*  $('.fc-header-right, .fc-header-center').hide();

            $('#calendar-buttons #btn-prev').click(function () {
                $('.fc-button-prev').click();
                return false;
            });

            $('#calendar-buttons #btn-next').click(function () {
                $('.fc-button-next').click();
                return false;
            });

            $('#calendar-buttons #btn-today').click(function () {
                $('.fc-button-today').click();
                return false;
            });

            $('#mt').click(function () {
                dropdown(this.innerHTML);
                $('#calendar').fullCalendar('changeView', 'month');
            });

            $('#ag').click(function () {
                dropdown(this.innerHTML);
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            });

            $('#td').click(function () {
                dropdown(this.innerHTML);
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            });

            $('#lh').click(function () {
                dropdown(this.innerHTML);
                $('#calendar').fullCalendar('changeView', 'basicDay');
            });*/

          /*  $("#vl_servico2").maskMoney({ allowNegative: false, thousands: '.', decimal: ',', affixesStay: false }); */

            $('#Servicos2').on("change", function (e) {

                var data = $(this).select2('data');
                var res = data[0].text.split("-");

                $('#vl_servico2').val(res[1].trim());
            });

            var Url = '@Url.Action("GetClientes", "Cadastros")';
            $("#Clientes2").select2({
                placeholder: "Selecione um cliente",
                minimumInputLength: 0,
                language: "pt-BR",
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

            var Url = '@Url.Action("GetColaboradores", "Cadastros")';
            $("#Colaboradores2").select2({
                placeholder: "Selecione um colaborador",
                minimumInputLength: 0,
                language: "pt-BR",
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

            var Url = '@Url.Action("GetServicosSimples", "Servico")';
            $("#Servicos2").select2({
                placeholder: "Selecione um serviço",
                minimumInputLength: 0,
                language: "pt-BR",
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });


            $(".confirmacao").click(function () {
                var Url = '@Url.Action("EditarAgenda", "Agenda")';
                $.ajax({
                    type: 'POST',
                    url: Url + "?id=" + $("#id-agenda").val() + "&id_colaborador=" + $("#Colaboradores2").val() + "&id_cliente=" + $("#Clientes2").val() + "&id_servico=" + $("#Servicos2").val() +
                        "&vl_servico=" + $("#vl_servico2").val() + "&dt_agenda=" + $("#dt_agenda2").val() + "&hr_agenda=" + $("#hr_agenda2").val() + "&tp_status=" + $(this).data("valor"),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {


                        if (data.Sucesso) {

                            $("#calendar").fullCalendar('removeEvents');

                            $("#calendar").fullCalendar("refetchEvents"); //Atualiza o calendário, assim o evento cadastrado recebe a id cadastrada no banco
                            // document.location.reload(true)

                        }
                        $('.modal-editar-evento').modal('hide');
                    }
                });
            });


            $("#apagar_agendamentos").click(function () {
                var Url = '@Url.Action("DeletarAgendamentosCliente", "Agenda")';
                $.SmartMessageBox({
                    title: "Deseja continuar?",
                    content: "O registro agendados serão excluídos!",
                    buttons: '[Não, cancelar!][Sim, continuar!]'
                }, function (ButtonPressed) {
                    if (ButtonPressed === "Sim, continuar!") {
                        $.ajax({
                            type: 'POST',
                            url: Url + "?idcliente=" + $('#Clientes2').select2('data')[0].id,
                            dataType: "json",
                            contentType: "application/json",
                            success: function (data) {
                                if (data.Sucesso) {
                                    $('.modal-editar-evento').modal('hide');
                                    $("#calendar").fullCalendar('removeEvents');
                                    $("#calendar").fullCalendar("refetchEvents");
                                }
                            }
                        });
                    }
                });
            });

        });

    </script>
}
