@model ShowRoomModelo.model.cadastros.Marca

@{
    ViewBag.Title = "Cadastro de Marcas";
    ViewBag.SubTitle = "Cadastro de Marcas";
    ViewBag.LinkText = "Consultar";
    ViewBag.ActionName = "Consultar";
}

@section css {
    <link href="~/Scripts/terceiros/bootstrap-colorpicker.min.css" rel="stylesheet" />
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control", @maxlength = "10", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control", @maxlength = "200" } })
                @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <section class="col-md-4">
                <label class="" for="GrupoMarca">Grupo da Marca</label>
                <select id="GrupoMarca" name="GrupoMarca" class="requerido" style="width:100%">
                    @if (!Equals(Model.nm_grupomarca, "") && (!(Model.grupomarca == 0)))
                    {
                        <option value="@Model.grupomarca">@Model.nm_grupomarca</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.grupomarca, "", new { @class = "text-danger" })
            </section>
        </div>

        <div class="form-group">
            <div class="col-md-5 mt-4">
            <label>Cor Padrão (Identificador da Marca na Agenda "Escolha cores escuras" )</label>               
                <div id="cor_padrao" class="input-group colorpicker-component colorpicker-element">
                    @Html.EditorFor(model => model.cor_padrao, new { htmlAttributes = new { @class = "form-control", @maxlength = "8", id = "cor_padrao" } })
                    <div class="col-md-2">
                        <span class="input-group-addon">
                            <i style="background-color: rgb(163, 145, 145);"></i>
                        </span>
                    </div>
                </div>                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {

    
    <script src="~/Scripts/terceiros/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#cor_padrao").colorpicker();


            var Url = '@Url.Action("GetGrupoMarcas", "MarcasGrupo")';
            $("#GrupoMarca").select2({
                placeholder: "Selecione um grupo para a marca",
                minimumInputLength: 0,
                language: "pt-BR",
                ajax: {
                    dataType: "json",
                    url: Url,
                    data: function (params) {
                        return {
                            term: params.term // search term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (obj) {
                                return { id: obj.id, text: obj.text };
                            })
                        };
                    },
                    cache: true
                }
            });

        });
    </script>
   @{ /* Scripts.Render("~/bundles/jqueryval") */ }
}
