@model IEnumerable<ShowRoomModelo.model.cadastros.Marca>

@{
    ViewBag.Title = "Consultar marcas";
    ViewBag.LinkText = "Cadastrar";
    ViewBag.ActionName = "Cadastrar";
}

<div class="table-responsive">
    <table id="datatable-1" class="table table-datatable  table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Cadastrar", new { id = item.id }, new { @class="btn btn-primary waves-effect waves-light" }) 
                        @{/*Html.ActionLink("Delete", "Delete", new { id=item.id }) */ }
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>
