@model IEnumerable<ShowRoomModelo.model.cadastros.RegiaoSub>

@{
    ViewBag.Title = "Consultar SubRegiões";
    ViewBag.LinkText = "Cadastrar";
    ViewBag.ActionName = "Cadastrar";
}

<div class="table-responsive">
    <table id="datatable-1" class="table table-datatable  table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nm_regiao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.subregiao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nm_regiao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subregiao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Cadastrar", new { id = item.id }, new { @class = "btn btn-primary btn-sm waves-effect waves-light" })
                        @Html.ActionLink("Deletar", "Deletar", new { id = item.id }, new { @class = "btn btn-danger btn-sm deletar", @id=@item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@{ /* Html.Partial("_ModalDeletar") */ }

@section scripts {

    <script>

        var defaultAction = "";
        $('.deletar').on('click', function (e) {
            e.preventDefault();
            defaultAction = $(this).prop("href");
            rowid = $(this).prop("id");
            swal({
                title: 'Você tem certeza?',
                text: "Você poderá incluir novamente depois!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Sim, deletar!',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: defaultAction,
                        type: "POST",
                        data: $("confirmar_deletar").serialize(),
                        success: function (data) {
                            var row = document.getElementById(rowid);

                            var row = $("#" + rowid).closest("TR");
                            var name = $("TD", row).eq(0).html();
                            var table = $("#datatable-1")[0];
                            //Delete the Table row using it's Index.
                            table.deleteRow(row[0].rowIndex);

                            swal(
                                'Deletado!',
                                'Seu registro foi deletado.',
                                'success'
                            )
                        }
                    });

                    
                }
            })

        })


    </script>
}
